<mat-drawer-container class="example-container">
  <mat-drawer #drawer>
    <mat-nav-list>
      <mat-list-item>
        <button mat-raised-button>
          <mat-icon>mic</mat-icon>
          Players
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button>
          <mat-icon>mic</mat-icon>
          Player Cards
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button>
          <mat-icon>mic</mat-icon>
          Teams
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button>
          <mat-icon>mic</mat-icon>
          Admins
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="display: flex; flex-wrap: wrap; align-items: center; padding: 8px 16px; background: #3f51b5; color: #ffffff">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title style="font-size: 33px">
            Hockey mobile Admin Console
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="height: 520px">
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
